<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/publications/' %} active {% endif %}"><a href="{{ "/publications/" | absolute_url }}">Publications</a></li>
  <li><a href="{{ "/downloads/myCV.pdf" | absolute_url }}" target="_blank">Resume</a></li>
</ul>

<ul class="icons">
  <li><a href="mailto:{{site.email}}" class="icon fa-envelope" style="font-family: FontAwesome;" target="_blank"><span class="label">Email</span></a></li>
  <li><a href="https://www.linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" style="font-family: FontAwesome;" target="_blank"><span class="label">Linkedin</span></a></li>
  <li><a href="https://scholar.google.com/citations?user={{site.scholar}}" style="font-family: Academicons !important" class="icon ai ai-google-scholar" target="_blank"><span class="label">Google Scholar</span></a></li>
  <li><a href="https://github.com/{{site.github}}" class="icon fa-github" style="font-family: FontAwesome;" target="_blank"><span class="label">GitHub</span></a></li>
  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" style="font-family: FontAwesome;" target="_blank"><span class="label">Twitter</span></a></li>
</ul>
